.section {
    display: grid;
    justify-content: center;
    gap: 3rem;
    padding: 8rem 10rem;
    border-radius: 0.75rem;

    &:nth-child(odd) {
        background-color: var(--color-green-500);
    }

    &:nth-child(even) {
        color: var(--color-white);
        background-color: var(--color-grey-600);
    }

    & > * {
        max-width: 90rem;
    }
}