.analytics {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 20rem auto;
    gap: 1rem;
}

.analytics-content {
    display: grid;
    gap: 1rem;
}

.analytics-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    color: white;
    background-color: var(--color-grey-600);
    border-radius: 0.75rem;
}