.artist-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.artist-item {
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
    color: var(--color-white);
    background: var(--color-grey-600);
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
}

.artist-art-wrapper {
    position: relative;
    width: 100%;
    height: 24rem;
    overflow: hidden;
}

.artist-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.artist-art-wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.00) 65%,
            #211D1D 100%
    );
    z-index: 1;
}

.artist-rank {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    line-height: 1;
}

.link-artist {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
}

.link-artist,
.spotify-track-link-icon {
    width: 2rem;
}
